#headerdiv {
  background-image: url("../images/backgrounds/landing.jpg");
  height: 636px;
  width: 100%;
  color: white;
}
#logotop {
  padding-top: 5%;
}
#happydiv {
  background-color: #E4E5E7;
}
#partydiv {
  background-color: #F15B29;
}
#breakfasttab {
  background-image: url("../images/foodtop/breakfast.jpg");
  color: white;
}
#lunchtab {
  background-image: url("../images/foodtop/lunch.jpg");
  background-size: cover;
  color: white;
}
#dinnertab {
  background-image: url("../images/foodtop/dinner.jpg");
  color: white;
}
#fastfood {
  padding-top: 5%;
  padding-bottom: 5%;
  font-size: 150%;
}
#drink1 {
  float: left;
}
div.fastfoodimg {
  padding: 5%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
